/* COGS 187A coding assignment 2 - index.css */
hr {
	opacity: 0.5;
	width: 50%;
}

.project {
	position: relative;
	left: 40px;
	width: 80%;
	height: 300px;
	/* background-color: #e3d456; */
}

.project-content {
	position: absolute;
	height: 260px;
	min-width: 100%;
	top: 20px;
	left: 20px;
	background-color: #D8D8D8;
	z-index: 0;
}

.project-title {
	position: absolute;
	background-color: #000; 
	min-width: 200px;
	height: 40px;
	margin: 0;
	padding-right: 50px;
	z-index: 2;
}

.project-shit {
	position: relative;
	vertical-align: top;
	margin: 10px;
	display: inline-block;
	background-color: yellow;
	min-width: 45%;
}

/* 
.project-left {
	position: relative; 
	float: left;
	top: 40px;
	left: 20px;
	height: 200px;
	width: 40%;
}

.project-right {
	position: relative;
	float: right;
	top: 40px;
	right: 20px;
	height: 200px;
	width: 50%;
} */

.project-image {
	position: relative;
	height: 200px;
}