/* COGS 187A coding assignment 1 - index.css */

body {
	
}

.topnav {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	height: 90px; 
	width: 100%;
	background-color: #D8D8D8;
	padding: 0;

}

.notnav {
	position: relative;

}

hr {
	opacity: 0.5;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	background-color: #000;
	width: 225px;
	height: 45px;
}

.project {
	position: relative;
	left: 45px;
	width: 90%;
	height: 300px;
	background-color: #D8D8D8;
	

}